body {
  margin: 0; /* Отступы */
  font-family: 'Montserrat', sans-serif; /* Шрифт семейства 'Montserrat', прямой без наклона */
}

.header {
  width: 100%;
  height: 100vh;
  background-color: darkgreen;

  /* Определяем модель flex-box для блока .header */
  display: flex;
  flex-direction: column; /* Выстраиваем flex-элементы в колонку, основная ось Y */

  justify-content: center; /* Выравнивание по основной оси (по вертикали) */
  align-items: center; /* Выравнивание по поперечной оси (по горизонтали) */
}

.header-title {
  position: absolute;
  width: 581px;
  height: 73px;
  left: 430px;
  top: 327px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  /* identical to box height, or 73px */

  text-align: center;

  color: #FFFFFF;
}

.header-subtitle {

}