* {   /* * - универсальный селектор, который выбирает все элементы на странице */
  box-sizing: border-box; /* размер блока включает в себя все элемнты рамки итд */
}

body {
  margin: 0; /* Отступы со всех сторон*/
  font-family: 'Montserrat', sans-serif; /* Шрифт семейства 'Montserrat', прямой без наклона */
  color: #000000;
}

.container {
  max-width: 1110px;
  margin-left: auto; /* автоматическое выравнивание слева и справа для блочной мождели */
  margin-right: auto;
}

.none {
  display: none !important; /* полностью скрывает элемент на странице, для удобства вёрстки (!important означает что свойство нельзя переопределять) */
}

/* Header */

.header {
  position: relative; /* Будет являться родителем для вложенных тегов */
  /* Определяем модель flex-box для блока .header */
  display: flex;
  flex-direction: column; /* Выстраиваем flex-элементы в колонку, основная ось Y */
  justify-content: center; /* Выравнивание по основной оси (по вертикали) */
  align-items: center; /* Выравнивание по поперечной оси (по горизонтали) */


  width: 100%;
  height: 100vh;

  background-color: #556983;
  background-image: url("./../img/header/header-bg.jpg"); /* фоновое изображение, путь из папки, где расположен данный css файл */
  background-size: cover; /* полностью заполняет собой фон, сохраняя масштаб и без пустых областей */
  background-position: center;

}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.header-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;   /* or 24px */
  text-align: center;
  letter-spacing: 0.2em; /* расстояние между буквами */
  text-transform: uppercase; /* отвечает за верхний регистр (всё набрано заглавными буквами) */
  color: #FFFFFF;
}

.header-arrow {
  width: 48px;
  height: 48px;

  position: absolute; /* Позиционирование относительно своего родителя (.header) по центру */
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0); /* смещение по X (назад на 50% ширины элемента) и по Y */
}

/* portfolio */

.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
}

.portfolio-header {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%; /* identical to box height, or 60px */
  text-align: center;
  color: #000000;
}

.portfolio-cards-wrapper {
  display: flex;
  flex-wrap: wrap; /* перенос на следующую строчку */
  justify-content: space-between; /* выравнивает элементы по краям контейнера, распределяя свободное пространство между элементами*/
}

.card {
  margin-bottom: 30px; /* внешние отступы */
  max-width: 540px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35); /* card-shadow */
  transition: transform 0.2s ease-in; /* плавность перемещения карточки */
}

.card:hover {
  transform: translateY(-15px); /* перемещение карточки при наведении курсора по оси Y (вверх) на 15 пикселей */
}

.card-link {
  display: block;
  padding: 20px; /* внутренние отступы со всех сторон элемента */
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease-in; /* плавность смены цвета текста в карточке */
}

.card-link:hover {
  color: rgb(32, 91, 236);
}

.card:last-child, .card:nth-last-child(2) { /* псевдоселектор который выберет последний тег с классом card в рамках контейнера, в котором он находиться. nth-last-child - псевдоселектор, который выбирает элемент по номеру с конца */
  margin-bottom: 0;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%; /* or 31px */
}

.card p {  /* выбираем все теги <p> которые лежать в элементе с классом card */
  margin: 0;
  font-size: 16px;
  line-height: 130%; /* identical to box height, or 21px */
}

/* Footer */

.footer {
  padding-top: 45px;
  padding-bottom: 130px;
  background: #1E4776;
  color: white;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  max-width: 350px;
  flex-grow: 1;
}

.footer-copyright {
  color: #7E9EC9;
  line-height: 1.3;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer-icons-row {
  display: flex;
  align-items: center;
}

.footer-icons-row > * + * { /* селектор "> *"  выбирает все элементы на первом уровне вложенности (в данном случае все теги <a>). Селектор "+" выбирает все элементы у которых есть сосед слева, в данном примере все теги <a> кроме самого первого */
  margin-left: 30px;
}

.footer-button {
  display: inline-block; /* для кнопок используют inline-block так как его ширина равна ширине контента */
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;

  border: 3px solid #FFFFFF;
  border-radius: 50px;

  color: #FFFFFF;
  line-height: 44px; /* задает высоту строки такую же, как и высота кнопки, минус (3px+3px) ширина border */
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none; /* убирает нижнее подчеркивание у ссылки-кнопки */

  transition: all 0.2s ease-in;
}

.footer-button:hover {
  background-color: white;
  color: #1E4776;
}

.footer-contacts p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.3;
  color: #7E9EC9;
}

/* Project */

.project {
  padding: 80px 0 120px 0;
  text-align: center;
}

.project-header {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
}

.project-img {
  margin-bottom: 70px;
}

.project-description {
  margin: 0 auto 60px;
  max-width: 730px;
}

.project-description p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 15px;
}

.project-btn-back {
  display: inline-block; 
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;

  border: 3px solid #275BEC;
  border-radius: 50px;

  color: #275BEC;
  line-height: 54px; 
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.project-btn-back:hover {
  background-color: #275BEC;
  color: white;
}